.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.history/
.vscode/
.idea/
.bowerrc
.editorconfig
.eslintrc.json
.gitattributes
.github/
.gitignore
.stylintrc
.travis.yml
LICENSE.md
README.md
_config.yml
bower.json
crowdin.yml
docs/
gulpfile.coffee
languages/
layout/
package.json
scripts/
source/
test/
source/css/
source/fonts/
source/images/
source/js/
